<h3>内容確認</h3>

<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>

  <p>タイトル:<%= @task.title %></p>
  <p>本文:<%= @task.content %></p>
  <%= form.submit  "登録" %>
  
   <%= form.submit "戻る", name: 'back' %>
<% end %>
