<h1>タスク一覧</h1>

<p><%= notice %></p>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期日</th>
  </tr>


<% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.end_date %></td>
      <td><%= link_to t('view.show'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
<% end %>
</table>

<%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>

<br>

<%= link_to '新しいタスクを作成する', new_task_path %>
