<h1>タスク一覧</h1>

<p><%= notice %></p>

<%= form_with(url: tasks_path, scope: :task, local: true, method: :get) do |form| %>
  <div class = "form-row">
    <span class = "form-group col-md-4">
      <%= form.text_field :title, placeholder:"タイトル検索", type: "text", class: "form-control",id: "inputcity" %>
    </span>
    <span class = "form-group col-md-2">
      <%= form.select :status, Task.statuses.keys.to_a, {include_blank: true}, id:"inputstate_status", class: "form-control" %>
    </span>
    <span class = "form-group col-md-2">
      <%= form.select :label_id, Label.pluck(:name, :id ).to_h, {include_blank: true}, id:"inputstate_label",class: "form-control" %>
    </span>
    <span>
      <%= form.submit "検索", class:"btn-secondary" %>
    </span>

    <button type="button" class="btn btn-outline-primary">
      <%= link_to "終了期限でソートする", tasks_path(sort_expired: "true") %>
    </button>
    <button type="button" class="btn btn-outline-primary">
      <%= link_to "優先度でソートする", tasks_path(sort_priority: "true") %>
    </button>
  </div>
<% end %>

<table>
  <tr>
    <th>ユーザー名</th>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期日</th>
    <th>状態</th>
    <th>優先度</th>
    <th>ラベル</th>
  </tr>


<% @tasks.each do |task| %>
    <tr class="task_row">
      <td><%= task.user.name %></td>
      <td><%= task.title %></td>
      <td><%= task.content %></td>
      <td><%= task.end_date %></td>
      <td><%= task.status %></td>
      <td><%= task.priority %></td>
      <td>
        <% task.labels.each do |label| %>
          <%= label.name %>
        <% end %>
      </td>
      <td><%= link_to t('view.show'), task_path(task.id) %></td>
      <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
      <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
    </tr>
<% end %>
</table>

<br>

<%= link_to '新しいタスクを作成する', new_task_path %>

<%= paginate @tasks %>
