<h1><%= @user.name %>タスク一覧</h1>

<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th>終了期日</th>
    <th>状態</th>
    <th>優先度</th>
  </tr>

  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.end_date %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= link_to t('view.show'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) %></td>
    <td><%= link_to t('view.delete'), task_path(task.id), method: :delete, data: { confirm: '本当に削除していいですか？' } %></td>
  </tr>
  <% end %>
</table>

<%= link_to "ユーザー管理画面", admin_users_path %>
